CukAutomationOperations/Connected Services/MainWebService7/MainServices21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IAmOneWayMessagingPattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonpayload" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IAmOneWayMessagingPatternResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IAmFullDuplexMessagingPattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JsonString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IAmFullDuplexMessagingPatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IAmFullDuplexMessagingPatternResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>