CukAutomationOperations/Connected Services/MainWebService7/MainServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMainServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MainWebServices7/MainServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MainWebServices7/MainServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainServices_IAmOneWayMessagingPattern_InputMessage">
    <wsdl:part name="parameters" element="tns:IAmOneWayMessagingPattern" />
  </wsdl:message>
  <wsdl:message name="IMainServices_IAmOneWayMessagingPattern_OutputMessage">
    <wsdl:part name="parameters" element="tns:IAmOneWayMessagingPatternResponse" />
  </wsdl:message>
  <wsdl:message name="IMainServices_IAmFullDuplexMessagingPattern_InputMessage">
    <wsdl:part name="parameters" element="tns:IAmFullDuplexMessagingPattern" />
  </wsdl:message>
  <wsdl:message name="IMainServices_IAmFullDuplexMessagingPattern_OutputMessage">
    <wsdl:part name="parameters" element="tns:IAmFullDuplexMessagingPatternResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainServices">
    <wsdl:operation name="IAmOneWayMessagingPattern">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainServices/IAmOneWayMessagingPattern" message="tns:IMainServices_IAmOneWayMessagingPattern_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainServices/IAmOneWayMessagingPatternResponse" message="tns:IMainServices_IAmOneWayMessagingPattern_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IAmFullDuplexMessagingPattern">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainServices/IAmFullDuplexMessagingPattern" message="tns:IMainServices_IAmFullDuplexMessagingPattern_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainServices/IAmFullDuplexMessagingPatternResponse" message="tns:IMainServices_IAmFullDuplexMessagingPattern_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainServices" type="tns:IMainServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IAmOneWayMessagingPattern">
      <soap:operation soapAction="http://tempuri.org/IMainServices/IAmOneWayMessagingPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAmFullDuplexMessagingPattern">
      <soap:operation soapAction="http://tempuri.org/IMainServices/IAmFullDuplexMessagingPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMainServices" type="tns:IMainServices">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMainServices_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IAmOneWayMessagingPattern">
      <soap:operation soapAction="http://tempuri.org/IMainServices/IAmOneWayMessagingPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAmFullDuplexMessagingPattern">
      <soap:operation soapAction="http://tempuri.org/IMainServices/IAmFullDuplexMessagingPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainServices">
    <wsdl:port name="BasicHttpBinding_IMainServices" binding="tns:BasicHttpBinding_IMainServices">
      <soap:address location="http://localhost/MainWebServices7/MainServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMainServices" binding="tns:BasicHttpsBinding_IMainServices">
      <soap:address location="https://id53256/MainWebServices7/MainServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>