CukAutomationOperations/Connected Services/TCPTR4Service/TCPTR4Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.ICPReleaseReservation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.ICPReleaseReservation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TcptR4Services/TCPTR4Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model" />
  <xs:complexType name="ArrayOfReservationCancelRequestList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationCancelRequestList" nillable="true" type="tns:ReservationCancelRequestList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationCancelRequestList" nillable="true" type="tns:ArrayOfReservationCancelRequestList" />
  <xs:complexType name="ReservationCancelRequestList">
    <xs:sequence>
      <xs:element minOccurs="0" name="GlobalPartner_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reservation_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationCancelRequestList" nillable="true" type="tns:ReservationCancelRequestList" />
  <xs:complexType name="ICPReservationReleaseResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model" minOccurs="0" name="Error" nillable="true" type="q1:Error" />
      <xs:element minOccurs="0" name="ReservationCancelResponseList" nillable="true" type="tns:ArrayOfReservationCancelResponseList" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ICPReservationReleaseResponse" nillable="true" type="tns:ICPReservationReleaseResponse" />
  <xs:complexType name="ArrayOfReservationCancelResponseList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationCancelResponseList" nillable="true" type="tns:ReservationCancelResponseList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationCancelResponseList" nillable="true" type="tns:ArrayOfReservationCancelResponseList" />
  <xs:complexType name="ReservationCancelResponseList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="GlobalPartner_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationCancelResponseList" nillable="true" type="tns:ReservationCancelResponseList" />
</xs:schema>