CukAutomationOperations/Connected Services/TCPTR4Service/TCPTR4Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.AddICP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.AddICP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAddICPRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddICPRequest" nillable="true" type="tns:AddICPRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddICPRequest" nillable="true" type="tns:ArrayOfAddICPRequest" />
  <xs:complexType name="AddICPRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirportTravelTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosestMajorCityEnglish" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cluster_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldOffice_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldOffice_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICP_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternationalDenominationAffiliation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Territory_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddICPRequest" nillable="true" type="tns:AddICPRequest" />
</xs:schema>