CukAutomationOperations/Connected Services/TCPTR4Service/TCPTR4Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.SupporterGift" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.SupporterGift" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TcptR4Services/TCPTR4Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model" />
  <xs:import schemaLocation="http://localhost/TcptR4Services/TCPTR4Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GiftCreateResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model" minOccurs="0" name="Error" nillable="true" type="q1:Error" />
      <xs:element minOccurs="0" name="GiftCreateResponses" nillable="true" type="tns:Giftcreateresponses" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="csvValidations" nillable="true" type="tns:ArrayOferrorList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GiftCreateResponse" nillable="true" type="tns:GiftCreateResponse" />
  <xs:complexType name="Giftcreateresponses">
    <xs:sequence>
      <xs:element minOccurs="0" name="GiftCreateResponseList" nillable="true" type="tns:ArrayOfGiftcreateresponselist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Giftcreateresponses" nillable="true" type="tns:Giftcreateresponses" />
  <xs:complexType name="ArrayOfGiftcreateresponselist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Giftcreateresponselist" nillable="true" type="tns:Giftcreateresponselist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGiftcreateresponselist" nillable="true" type="tns:ArrayOfGiftcreateresponselist" />
  <xs:complexType name="Giftcreateresponselist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExchangeRatePartnerToGMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsThresholdViolated" type="xs:boolean" />
      <xs:element minOccurs="0" name="PartnerGiftDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerGiftID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThresholdViolatedType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Giftcreateresponselist" nillable="true" type="tns:Giftcreateresponselist" />
  <xs:complexType name="ArrayOferrorList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="errorList" nillable="true" type="tns:errorList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOferrorList" nillable="true" type="tns:ArrayOferrorList" />
  <xs:complexType name="errorList">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="errors" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="rowData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="errorList" nillable="true" type="tns:errorList" />
</xs:schema>