CukAutomationOperations/Connected Services/TCPTR4Service/TCPTR4Service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TcptR4Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TcptR4Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TcptR4Services/TCPTR4Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BeneficiaryRequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeneficiaryLastReviewDate" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HoldingGlobalPartnerID" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsOrphan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongWaiting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chronicIllness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cluster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="globalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasSiblings" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasSpecialNeeds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="highage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hivAffectedArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="icpId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="includeOnHold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isFatherAlive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isMotherAlive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPhysicalDisable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isTransitioned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="localId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lowage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxDaysWaiting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxPriorityScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="minDaysWaiting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="minPriorityScore" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="multipleCountries" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skip" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="statuses" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="take" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="territory" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeneficiaryRequestModel" nillable="true" type="tns:BeneficiaryRequestModel" />
</xs:schema>