CukAutomationOperations/Connected Services/TCPTR4Service/TCPTR4Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.Resubmission" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TcptR4DataOperations.Model.Resubmission" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupporterGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupporterGroupModel" nillable="true" type="tns:SupporterGroupModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupporterGroupModel" nillable="true" type="tns:ArrayOfSupporterGroupModel" />
  <xs:complexType name="SupporterGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConId" type="xs:long" />
      <xs:element minOccurs="0" name="GlobalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LetterSalutation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupporterGroupModel" nillable="true" type="tns:SupporterGroupModel" />
  <xs:complexType name="ArrayOfSponsorshipModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SponsorshipModel" nillable="true" type="tns:SponsorshipModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSponsorshipModel" nillable="true" type="tns:ArrayOfSponsorshipModel" />
  <xs:complexType name="SponsorshipModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenGlobalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenHoldId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenLocalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenOrIcpHoldId" type="xs:long" />
      <xs:element minOccurs="0" name="ConId" type="xs:long" />
      <xs:element minOccurs="0" name="GlobalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LinkTypeId" type="xs:long" />
      <xs:element minOccurs="0" name="NeedId" type="xs:long" />
      <xs:element minOccurs="0" name="SGGlobalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGId" type="xs:long" />
      <xs:element minOccurs="0" name="SGName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SponsorshipType" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SponsorshipModel" nillable="true" type="tns:SponsorshipModel" />
</xs:schema>